<div class="col-md-6 col-md-offset-3">
	<div class="edit-book-form">
		<h2>Modifier le livre</h2>
		<%= simple_form_for @book, :html => { :multipart => true} do |f|  %>
		  <%= f.select :bookcat_id, @categories %>
		  <%= f.input :title, label:"Titre" %>
		  <%= f.input :author, label:"Auteur" %>
		  <%= f.input :description %>
  		  <%= f.file_field :book_img, label:"Image : " %>
		  <%= f.button :submit, 'Modifier' ,:class => "btn-custom2" %>
		<% end %>
	</div>
</div>