<div class="review">
	<div class="review-rating" data-score="<%= review.rating %>">
		
	</div>

	<h2><%= review.user.id %> à modifier</h2>

	<p class="review-comment"><%= review.comment %></p>


	<% if user_signed_in? %>
		<% if review.user_id == current_user.id %>
			<%= link_to "Modifier", edit_book_review_path(review.book, review), class: "btn btn-custom" %>
			<%= link_to "Supprimer", book_review_path(review.book, review),method: :delete, data:{confirm: "êtes-vous sûr?"}, class: "btn btn-custom" %>
		<% end %>
	<% end %>
</div>		