<div class="navbar navbar-default">

		<div class="container">

			<div class="navbar-header">
				<%= link_to "Espace-C", root_path, class: "navbar-brand" %>
			</div>

			<ul class="nav navbar-nav">
				<% if user_signed_in? %>
						<li><%= link_to "Deconnexion", destroy_user_session_path, method: :delete %></li>
					<% else %>
						<li><%= link_to "Créer un Compte", new_user_registration_path %></li>
						<li><%= link_to "Se connecter", new_user_session_path %></li>
					<% end %>  
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Liste d'utilisateurs", list_path %></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Livres <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
		                 <li><%= link_to 'Tous', books_path %></li>
						<% Bookcat.all.each do |category| %>
		                  <li class="<%= 'active' if params[:category] == category.name %>">
		                    <%= link_to category.name, books_path(category: category.name), class: "link" %>
		                  </li>       
		                <% end %>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Films <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
		                 <li><%= link_to 'Tous', movies_path %></li>
		                <% Moviecat.all.each do |category| %>
		                  <li class="<%= 'active' if params[:category] == category.name %>">
		                    <%= link_to category.name, movies_path(category: category.name), class: "link" %>
		                  </li>       
		                <% end %>
					</ul>
				</li>
					<% if user_signed_in? %>
					  <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ajouter <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
			              <li><%= link_to " un Livre", new_book_path %></li> 
			              <li><%= link_to " un Film", new_movie_path %></li> 
			            </ul>
			          </li>      
					  <li><%= link_to "Statistiques", stat_path %></li>
		              <li><a href="/users/<%= current_user.id %>">Profile</a></li>	
		            <% end %>


				
			</ul>

		</div>

	</div>